
/* ----[ LINKS ]----*/

/* all menu links */
#s5_nav a, #subMenusContainer a{
	text-decoration:none;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#s5_nav a{
	margin:0;	
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

#s5_menu_wrap ul.menu {
padding:0px !important;
}

#subMenusContainer ul li {
	padding:0px;
	margin:0px;
}

/* Just sub menu links */
#subMenusContainer a, #s5_nav li li a{
	text-align:left;
	font-size:1em;
	white-space: pre;
	width:auto;
	color:#FFFFFF !important;
}

#subMenusContainer a:after, #s5_nav li li a:after {
content:"\a";
}


/* ----[ OLs ULs, LIs, and DIVs ]----*/


/* All ULs and OLs */
#nav, #s5_nav ul, #s5_nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* All submenu OLs and ULs */
#s5_nav ol, #s5_nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	left:0;
}

#subMenusContainer img {
margin-right:8px;
}

#s5_nav img {
margin-right:6px;
margin-top:2px;
}

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.s5_sub_wrap, .s5_sub_wrap_lower, .s5_sub_wrap_rtl, .s5_sub_wrap_lower_rtl {
	display:none; 
	position: absolute; 
	overflow:hidden; 
	padding:0px;
}

.s5_sub_wrap_lower_rtl, .s5_sub_wrap_lower {
	margin:0px;
	padding:0px;
}

.mainParentBtn a {
	padding-right:24px;
}

.subParentBtn .S5_submenu_item a {
	background:url(../images/s5_menu_arrow_subs.png) no-repeat right center !important;
	display:block;
}

#subMenusContainer div.s5_sub_wrap ul ul, #subMenusContainer div.s5_sub_wrap_lower ul ul, #subMenusContainer div.s5_sub_wrap_rtl ul ul, #subMenusContainer div.s5_sub_wrap_lower_rtl ul ul {
	padding:0px;
	margin:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background:none;
	border:none !important;
}

#subMenusContainer li.subParentBtn, #subMenusContainer li.subMenuBtn {
	clear:both;
	padding:0px;
	min-width:212px;
}


/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#s5_nav li { 
	display:block;
	list-style:none;
	position:relative;
	float:left;
	padding:0px;
	overflow:hidden;
	background:none;
	border:solid 1px transparent;
	margin-right:2px;
}

#s5_nav li.active, #s5_nav li:hover, #s5_nav li.mainMenuParentBtnFocused {
border:solid 1px #FFFFFF;
}

#s5_nav li a {
	font-size:1.2em;
	color:#ededed !important;
	}
	

#s5_nav li.mainParentBtn .s5_level1_span2 a {
	padding-right:20px;
}

.S5_parent_subtext {
	display:block;
	clear:both;
	cursor:pointer;
	font-size:0.8em;
	margin-top:-4px;
}

#s5_nav li.active .S5_parent_subtext, #s5_nav .mainMenuParentBtnFocused .S5_parent_subtext, #s5_nav li:hover .S5_parent_subtext  {
	color:#FFFFFF !important;
}

#s5_nav li .s5_level1_span1 {
    background: none;
    display: block;
    padding: 9px;
    padding-bottom: 5px;
    padding-right: 14px;
}

#s5_nav li .s5_level1_span2 {
background:none;
display:block;
}


#subMenusContainer .moduletable {
padding:15px;
margin-bottom:15px;
}

#subMenusContainer .moduletable h3 {
margin-bottom:8px;
}

.S5_submenu_item {
	padding:15px;
	padding-top:12px;
	padding-bottom:12px;
	display:block;
	margin-bottom:15px;
}

.S5_grouped_child_item .S5_submenu_item {
	padding:5px !important;
	border:none !important;
	margin:0px;
}

.s5_sub_a_span {
font-size:1.1em;
}

#subMenusContainer li{
	list-style: none;
}


#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000; margin-top:17px; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#s5_nav li li{	float:none; }

#s5_nav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#s5_nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	margin-top:2.2em;
}

/* third-and-above-level lists */
#s5_nav li ul ul { margin: -1em 0 0 -1000em; }
#s5_nav li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#s5_nav li:hover ul{	margin-left: 0; }
#s5_nav li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
#s5_nav li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#s5_nav li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#s5_nav li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#s5_nav li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#s5_nav li:hover a:focus{ margin-left: 0; }
#s5_nav li li:hover a:focus + ul { margin-left: 10em; }


span.menu_subtext {
	font-weight:normal;
	line-height:10px;
}

.S5_subtext {
font-size:0.8em;
padding-top:3px;
cursor:pointer;
display:block;
color:#ACABAB;
}

.S5_grouped_child_item .S5_subtext {
padding-left:20px;
}

span.menu_title{
	line-height:12px;
	text-align:center;
}


div.has_description{
	height:auto;
}

div.S5_grouped_child_item span{
	font-size:1em;
}

div.S5_grouped_child_item span .S5_subtext {
font-size:0.8em;
color:#ACABAB;
}

div.S5_grouped_child_item {
	padding-top:0px;
	margin-top:8px;
	padding-bottom:18px;
	padding-left:12px;
}

div.S5_grouped_child_item span span.S5_submenu_item a{
	padding:0px;
	padding-left:0px;
}

.mainParentBtn a {
background:url(../images/s5_menu_arrow.png) no-repeat right center !important;
display:block;
}

#s5_nav .active.mainParentBtn a, #s5_nav .mainParentBtn:hover a, #s5_nav .mainMenuParentBtnFocused a {
background:url(../images/s5_menu_arrow_active.png) no-repeat right center !important;
color:#FFFFFF !important;
}

#s5_nav li:hover a, #s5_nav .mainMenuParentBtnFocused a, #s5_nav li.active a, #s5_nav li.active{
color:#FFFFFF !important;
}

.S5_grouped_child_item .S5_submenu_item {
background:none!important;
}

#subMenusContainer a {
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}

.subParentBtn:hover .S5_submenu_item a {
	background:url(../images/s5_menu_arrow_subs.png) no-repeat right center !important;
}

.subParentBtn:hover .S5_submenu_item a {
	background:url(../images/s5_menu_arrow_subs_active.png) no-repeat right center !important;
}


#subMenusContainer div.s5_sub_wrap_lower ul, #subMenusContainer div.s5_sub_wrap_lower_rtl ul {
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

#subMenusContainer .s5_sub_wrap ul ul, #subMenusContainer .s5_sub_wrap_rtl ul ul {
padding-top:15px !important;
padding-left:15px !important;
padding-right:15px !important;
}

#subMenusContainer .s5_sub_wrap_lower ul ul, #subMenusContainer .s5_sub_wrap_lower_rtl ul ul { 
padding:15px !important;
padding-bottom:0px !important;
}

.s5_sub_wrap_lower_rtl, .s5_sub_wrap_lower {
	padding:5px;
	margin-top:-25px;
}

.S5_submenu_item, .S5_grouped_child_item .S5_submenu_item {
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
}