#jevents_body .event_legend_container {
  width: 100%;
}
div#jevcatbar {
  border: none!important;
}
div.ev_navigation,
#jevents_body,
table.ev_table,
#jevents_body table.jevicons,
.jev_listview .jev_listrow {
  width: 100%;
}
.jev_topleft {
  display: none;
}
.jev_pagination {
  width: 100%;
}
/* Month calendar layout */
.jev_row,
.jev_daysnames {
  display: none;
}
.jev_toprow {
  height: 0 !important;
}
#jevents_body .jev_toprow h2,
#jevents_body .jev_toprow div.today {
  width: auto!important;
}
.jev_listrow {
  clear: left;
  margin-top: 10px;
  padding-left: 10px;
}
.jev_listrow .jevdateicon {
  float: left;
  margin-right: 10px;
}
.jev_listrow .jev_daywithevents {
  float: left;
}
#jevents_body .jev_listrow .eventfull {
  background-color: transparent;
  margin-top: 10px !important;
}
#jevents_body .jev_listrow .jevdateicon {
  margin-bottom: 0;
}
/* facebook plugin*/
.facebook iframe {
  width: auto!important;
}
div.jev_header2_container {
  padding-left: 0 !important;
}
div.hiddendayname {
  width: 100%;
}
div.jev_daywithevents {
  width: 80%;
  margin-left: 5%;
}
div.jev_listrow > a {
  float: left;
  margin-top: 10px;
}
