{{Scaled Image:JEV_SIZEDIMAGE_1;400x300#<div class="jeviso_item_image">%s</div>#}}
<div class="jeviso_item_title"><a href="{{Link:LINK}}" alt="{{Title:TITLE}}">{{Title:TITLE}}</a></div>
<div class="jeviso_item_date">{{Start Date:STARTDATE;%a, %d %b %Y}}</div>
{{Location:LOCATION# <div class="jeviso_item_location"> %s </div>#}}
<div class="jeviso_item_body">{{Truncated Desc:TRUNCATED_DESC:15}}</div>
<div class="jeviso_item_footer">
    <span class="jeviso_item_catcolor" style="border-left-color:{{Event background colour:COLOUR}};">{{Category:CATEGORY}}</span>
    <span class="jeviso_item_rmlink"><a class="read_more" href="{{Link:LINK}}" alt="{{Title:TITLE}}">More..</a></span>
</div>
